# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.log

# Virtual environment
venv/
env/

# Environment variables
.env

# VSCode
.vscode/

# OS
.DS_Store
ca.pem
storefront_backup_utf8.sql
storefront_backup.sql
.env.backup
