{% extends "base.html" %}


{% block title %}
Checkout
{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-sm">

                <div class="card-body p-4">

                    <h2 class="mb-4">
                        Checkout
                    </h2>


                    <!-- ERROR -->

                    <div
                        id="error-msg"
                        class="alert alert-danger d-none"
                    >
                    </div>


                    <!-- SUCCESS -->

                    <div
                        id="success-msg"
                        class="alert alert-success d-none"
                    >
                    </div>


                    <p class="text-muted">

                        Your order will be created and you
                        will be redirected to Pesepay to
                        complete your payment.

                    </p>


                    <button
                        id="place-order-btn"
                        class="btn btn-success w-100 mt-3"
                    >

                        Place Order & Pay

                    </button>


                </div>

            </div>

        </div>

    </div>

</div>


<script>

/* =====================================================
   GET ACCESS TOKEN
   ===================================================== */

function getAccessToken() {

    return localStorage.getItem(
        "access_token"
    );

}


/* =====================================================
   CHECK LOGIN
   ===================================================== */

if (!getAccessToken()) {

    window.location.href =
        `/login/?next=${encodeURIComponent(
            window.location.pathname
        )}`;

}


/* =====================================================
   CREATE ORDER
   ===================================================== */

async function createOrder() {

    const cartId =
        localStorage.getItem(
            "cart_id"
        );


    if (!cartId) {

        throw new Error(
            "Your cart is empty."
        );

    }


    const response =
        await fetch(
            "/api/store/orders/",
            {
                method: "POST",

                headers: {

                    "Content-Type":
                        "application/json",

                    "Authorization":
                        `JWT ${getAccessToken()}`

                },

                body: JSON.stringify({

                    cart_id:
                        cartId

                })

            }
        );


    const text =
        await response.text();


    let data;


    try {

        data =
            JSON.parse(text);

    }

    catch {

        console.error(
            "Server response:",
            text
        );


        throw new Error(
            "Server returned an invalid response."
        );

    }


    console.log(
        "Order response:",
        data
    );


    if (
        response.status === 401 ||
        response.status === 403
    ) {

        localStorage.removeItem(
            "access_token"
        );


        throw new Error(
            "Your login session has expired. Please login again."
        );

    }


    if (!response.ok) {

        throw new Error(

            data.detail ||
            data.cart_id ||
            "Unable to create order."

        );

    }


    return data.id;

}


/* =====================================================
   PLACE ORDER
   ===================================================== */

document
    .getElementById(
        "place-order-btn"
    )
    .addEventListener(
        "click",
        async function() {

            const button =
                document.getElementById(
                    "place-order-btn"
                );


            const errorMsg =
                document.getElementById(
                    "error-msg"
                );


            /* -----------------------------------------
               CLEAR ERROR
               ----------------------------------------- */

            errorMsg.classList.add(
                "d-none"
            );


            /* -----------------------------------------
               CHECK LOGIN
               ----------------------------------------- */

            if (!getAccessToken()) {

                window.location.href =
                    `/login/?next=${encodeURIComponent(
                        window.location.pathname
                    )}`;

                return;

            }


            try {

                /* -------------------------------------
                   DISABLE BUTTON
                   ------------------------------------- */

                button.disabled = true;

                button.textContent =
                    "Creating order...";


                /* -------------------------------------
                   CREATE ORDER
                   ------------------------------------- */

                const orderId =
                    await createOrder();


                console.log(
                    "Order created:",
                    orderId
                );


                /* -------------------------------------
                   REMOVE CART
                   ------------------------------------- */

                localStorage.removeItem(
                    "cart_id"
                );


                /* -------------------------------------
                   REDIRECT TO PESEPAY
                   ------------------------------------- */

                button.textContent =
                    "Redirecting to Pesepay...";


                window.location.href =
                    `/store/payment/start/${orderId}/`;

            }


            catch (error) {

                console.error(
                    "Checkout error:",
                    error
                );


                errorMsg.textContent =
                    error.message;


                errorMsg.classList.remove(
                    "d-none"
                );


                button.disabled =
                    false;


                button.textContent =
                    "Place Order & Pay";

            }

        }
    );

</script>

{% endblock %}