{% extends "base.html" %}


{% block title %}
Product Details
{% endblock %}


{% block content %}

<div class="container mt-5">


    <a
        href="{% url 'products_page' %}"
        class="btn btn-outline-secondary mb-4"
    >
        ⬅ Back to Store
    </a>


    <div class="row">

        <div class="col-md-6">

            <div
                class="border rounded bg-white p-4 shadow-sm"
            >

                <h2 id="title">
                    Loading...
                </h2>


                <p id="description">
                </p>


                <h4 class="text-success">

                    $

                    <span id="price">
                    </span>

                </h4>


                <p class="text-muted">

                    Stock:

                    <span id="inventory">
                    </span>

                </p>


                <button
                    class="btn btn-primary mt-3"
                    id="add-to-cart-btn"
                >
                    Add to Cart 🛒
                </button>

            </div>

        </div>

    </div>

</div>


<script>

const productId =
    {{ product_id }};


/* =====================================================
   GET TOKEN
   ===================================================== */

function getAccessToken() {

    return localStorage.getItem(
        "access_token"
    );

}


/* =====================================================
   CREATE CART
   ===================================================== */

async function createCart() {

    const token =
        getAccessToken();


    if (!token) {

        window.location.href =
            `/login/?next=${encodeURIComponent(
                window.location.pathname
            )}`;

        return null;

    }


    let cartId =
        localStorage.getItem(
            "cart_id"
        );


    /* ---------------------------------------------
       CHECK EXISTING CART
       --------------------------------------------- */

    if (cartId) {

        const response =
            await fetch(
                `/api/store/carts/${cartId}/`,
                {
                    headers: {

                        "Authorization":
                            `JWT ${token}`

                    }
                }
            );


        if (response.ok) {

            return cartId;

        }


        localStorage.removeItem(
            "cart_id"
        );


        cartId = null;

    }


    /* ---------------------------------------------
       CREATE NEW CART
       --------------------------------------------- */

    const response =
        await fetch(
            "/api/store/carts/",
            {
                method: "POST",

                headers: {

                    "Content-Type":
                        "application/json",

                    "Authorization":
                        `JWT ${token}`

                }
            }
        );


    if (!response.ok) {

        throw new Error(
            "Unable to create cart."
        );

    }


    const data =
        await response.json();


    localStorage.setItem(
        "cart_id",
        data.id
    );


    return data.id;

}


/* =====================================================
   ADD TO CART
   ===================================================== */

async function addToCart() {

    try {

        const cartId =
            await createCart();


        if (!cartId) {

            return;

        }


        const response =
            await fetch(
                `/api/store/carts/${cartId}/cart-items/`,
                {
                    method: "POST",

                    headers: {

                        "Content-Type":
                            "application/json",

                        "Authorization":
                            `JWT ${getAccessToken()}`

                    },

                    body: JSON.stringify({

                        product_id:
                            productId,

                        quantity: 1

                    })

                }
            );


        if (!response.ok) {

            throw new Error(
                "Unable to add product to cart."
            );

        }


        alert(
            "Product added to cart! ✅"
        );

    }


    catch (error) {

        console.error(error);

        alert(
            error.message
        );

    }

}


/* =====================================================
   LOAD PRODUCT
   ===================================================== */

async function loadProduct() {

    try {

        const response =
            await fetch(
                `/api/store/products/${productId}/`
            );


        if (!response.ok) {

            throw new Error(
                "Product not found."
            );

        }


        const product =
            await response.json();


        document.getElementById(
            "title"
        ).textContent =
            product.title;


        document.getElementById(
            "description"
        ).textContent =
            product.description;


        document.getElementById(
            "price"
        ).textContent =
            product.price;


        document.getElementById(
            "inventory"
        ).textContent =
            product.inventory;

    }


    catch (error) {

        document.getElementById(
            "title"
        ).textContent =
            error.message;

    }

}


/* =====================================================
   BUTTON
   ===================================================== */

document
    .getElementById(
        "add-to-cart-btn"
    )
    .addEventListener(
        "click",
        addToCart
    );


/* =====================================================
   START
   ===================================================== */

loadProduct();

</script>

{% endblock %}